[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gvcAnalyzer"]
	path = gvcAnalyzer
	url = https://github.com/ballavbabu/gvcanalyzer
